.not-found-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 300px;
    justify-content: center;
}

.home-page-link {
    color: #333;
    font-weight: 800;
    text-decoration: none;
}